.vs/
DXVisualTestFixer/bin/
DXVisualTestFixer/obj/
packages/
DXVisualTestFixer.FarmIntegrator/obj/
bin/
DXVisualTestFixer/DXVisualTestFixer_TemporaryKey.pfx
*.user
DXVisualTestFixer.Core/obj/
DXVisualTestFixer.UI/obj
DXVisualTestFixer.Common/obj
DXVcs2Git.Nuget/files/*
DXVcs2Git.Nuget/Nuget.exe
DXVcs2Git.Nuget/*.nupkg
DXVisualTestFixer.FarmIntegrator2/obj/
.idea/
DXVisualTestFixer.Minio/obj
DXVisualTestFixer.Git/obj
DXVisualTestFixerWinForms/obj
DXVisualTestFixer.Ccnet/obj
DXVisualTestsFixer.Cache/obj
