<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <!-- Set it to true to avoid enabling it on every delelopers machine -->
    <add key="enabled" value="True" />
  </packageRestore>
  <config>
    <!-- Set single repository for every new solution under this root directory -->
    <add key="repositorypath" value=".\packages" />
  </config>
  <packageSources>
    <clear />

	<add key="DX Internal" 							value="http://nuget.devexpress.dev/nuget" />
    <add key="nuget.org"                            value="https://www.nuget.org/api/v2/" />
	<add key="nugetV3.org"                          value="https://api.nuget.org/v3/index.json" />
    <add key="myget/dotnet-core"                    value="https://dotnet.myget.org/F/dotnet-core/" />
    <add key="myget/aspnetcore-dev"                 value="https://dotnet.myget.org/F/aspnetcore-dev/" />
    <add key="myget/aspnetcore-release"             value="https://dotnet.myget.org/F/aspnetcore-release/" />
    <add key="myget/xunit"                          value="https://www.myget.org/F/xunit/" />
    <add key="internal"                             value="http://nuget.devexpress.devx/nuget/" />

  </packageSources>
</configuration>