<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="logifyAlert" type="DevExpress.Logify.LogifyConfigSection, Logify.Alert.Wpf"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <system.diagnostics>
        <trace autoflush="true" indentsize="4">
            <listeners>
                <add name="LogifyAlertTraceListener" type="DevExpress.Logify.WPF.LogifyAlertTraceListener, Logify.Alert.Wpf"/>
            </listeners>
        </trace>
    </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Logify.Alert.Core" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.48.0" newVersion="1.0.48.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <logifyAlert>
    <!--
            The Logify Alert service uses unique identifiers - API keys - to register and monitor individual applications.
            To learn how to get your ApiKey, please follow the link:
            https://logify.devexpress.com/Alert/Documentation/BasicSetup/WPF
        -->
    <apiKey value="YOUR_API_KEY"/>
    <!-- <confirmSend value="false" /> -->
    <!-- <offlineReportsEnabled value="false" /> -->
    <!-- <offlineReportsDirectory value="offlineReports" /> -->
    <!-- <offlineReportsCount value="10" /> -->
    <!-- <collectMiniDump value="false" /> -->
    <!-- <collectBreadcrumbs value="false" /> -->
    <!-- <breadcrumbsMaxCount value="500" /> -->
    <!--
        <customData>
            <add key="MY_CUSTOM_DATA_KEY" value="My Custom data Value" />
        </customData>
        -->
    <!--
        <tags>
            <add key="MY_CUSTOM_TAG_KEY" value="My Tag Value" />
        </tags>
        -->
  </logifyAlert>
</configuration>