<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.3" targetFramework="net47" />
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net47" />
  <package id="GitTools_UI_Addin_Dependencies" version="17.2.0.80" targetFramework="net47" />
  <package id="Logify.Alert.Core" version="1.0.45" targetFramework="net47" />
  <package id="Logify.Alert.Wpf" version="1.0.45" targetFramework="net47" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net47" />
  <package id="Prism.Core" version="7.1.0.123-pre" targetFramework="net47" />
  <package id="Prism.Unity" version="7.1.0.123-pre" targetFramework="net47" />
  <package id="Prism.Wpf" version="7.1.0.123-pre" targetFramework="net47" />
  <package id="SharpCompress" version="0.17.1" targetFramework="net47" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net47" />
  <package id="Splat" version="1.6.2" targetFramework="net47" />
  <package id="squirrel.windows" version="1.8.0" targetFramework="net47" />
  <package id="Unity.Abstractions" version="3.3.0" targetFramework="net47" />
  <package id="Unity.Container" version="5.8.3" targetFramework="net47" />
</packages>