<Complex name="Root" type="DXVisualTestFixer.Core.Team, DXVisualTestFixer, Culture=neutral">
  <Properties>
    <Simple name="Name" value="Navigation" />
    <Simple name="Version" value="16.1" />
    <Simple name="TestResourcesPath" value="DevExpress.Xpf.VisualTests\DevExpress.Xpf.VisualTests\Navigation\ThemesImages" />
    <Simple name="ServerFolderName" value="4XPFNavigationTeam" />
    <Simple name="SupportOptimized" value="False" />
  </Properties>
</Complex>