<Complex name="Root" type="DXVisualTestFixer.Core.Team, DXVisualTestFixer, Culture=neutral">
  <Properties>
    <Simple name="Name" value="GridControl" />
    <Simple name="Version" value="16.2" />
    <Simple name="TestResourcesPath" value="DevExpress.Xpf.VisualTests\DevExpress.Xpf.VisualTests\WpfGrid\ThemesImages" />
    <Simple name="ServerFolderName" value="4DXGridTeam" />
    <Simple name="SupportOptimized" value="True" />
  </Properties>
</Complex>