<Complex name="Root" type="DXVisualTestFixer.Core.Team, DXVisualTestFixer, Culture=neutral">
  <Properties>
    <Simple name="Name" value="Svg" />
    <Simple name="Version" value="17.1" />
    <Simple name="TestResourcesPath" value="DevExpress.Xpf.VisualTests\DevExpress.Xpf.VisualTests\WpfCore\Svg2Images" />
    <Simple name="ServerFolderName" value="Svg2Images" />
    <Simple name="SupportOptimized" value="False" />
  </Properties>
</Complex>