<Complex name="Root" type="DXVisualTestFixer.Core.Team, DXVisualTestFixer, Culture=neutral">
  <Properties>
    <Simple name="Name" value="TabControl" />
    <Simple name="Version" value="17.2" />
    <Simple name="TestResourcesPath" value="DevExpress.Xpf.VisualTests\DevExpress.Xpf.VisualTests\WpfCore\ThemesImages" />
    <Simple name="ServerFolderName" value="4DXTabControl" />
    <Simple name="SupportOptimized" value="False" />
  </Properties>
</Complex>