<Complex name="Root" type="DXVisualTestFixer.Core.Team, DXVisualTestFixer, Culture=neutral">
  <Properties>
    <Simple name="Name" value="PivotControl" />
    <Simple name="Version" value="17.2" />
    <Simple name="TestResourcesPath" value="DevExpress.Xpf.VisualTests\DevExpress.Xpf.VisualTests\WpfPivot\ThemesImages" />
    <Simple name="ServerFolderName" value="4Pivot" />
    <Simple name="SupportOptimized" value="False" />
  </Properties>
</Complex>