<Complex name="Root" type="DXVisualTestFixer.Core.Team, DXVisualTestFixer, Culture=neutral">
  <Properties>
    <Simple name="Name" value="ThemedWindow" />
    <Simple name="Version" value="18.1" />
    <Simple name="TestResourcesPath" value="DevExpress.Xpf.VisualTests\DevExpress.Xpf.VisualTests\WpfCore\ThemedWindowImages" />
    <Simple name="ServerFolderName" value="ThemedWindowImages" />
    <Simple name="SupportOptimized" value="False" />
  </Properties>
</Complex>