<Complex name="Root" type="DXVisualTestFixer.Core.Team, DXVisualTestFixer, Culture=neutral">
  <Properties>
    <Simple name="Name" value="TabControl" />
    <Simple name="Version" value="17.1" />
    <Collection name="TeamInfos">
      <Properties>
        <Simple name="Capacity" value="4" />
      </Properties>
      <Items>
        <Complex>
          <Properties>
            <Simple name="ServerFolderName" value="4DXTabControl" />
            <Simple name="TestResourcesPath" value="DevExpress.Xpf.VisualTests\DevExpress.Xpf.VisualTests\WpfCore\ThemesImages" />
            <Simple name="Dpi" value="96" />
            <Null name="Optimized" />
          </Properties>
        </Complex>
      </Items>
    </Collection>
  </Properties>
</Complex>